<!DOCTYPE html>
<html ng-app="stadler-motorsport" scroll>
<head>
    <title>stadler-motorsport</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />

    <link rel="stylesheet" href="res/css/cssreset.css" type="text/css"/>
    <link rel="stylesheet" href="res/css/layout.css" type="text/css"/>
    <link rel="stylesheet" href="res/css/module.css" type="text/css"/>
    <link rel="stylesheet" href="res/css/state.css" type="text/css"/>

    <script type="text/javascript" src="res/js/angular.min.js"></script>
    <script type="text/javascript" src="res/js/angular-cookies.min.js"></script>
    <script type="text/javascript" src="res/js/angular-animate.min.js"></script>
    <script type="text/javascript" src="res/js/angular-resource.min.js"></script>
    <script type="text/javascript" src="res/js/angular-ui-router.js"></script>
    <script type="text/javascript" src="res/js/lodash.min.js"></script>
    <script type="text/javascript" src="res/js/app.js"></script>
    <script type="text/javascript" src="res/js/controller.js"></script>
    <script type="text/javascript" src="res/js/services.js"></script>
    <script type="text/javascript" src="res/js/filter.js"></script>
    <script type="text/javascript" src="res/js/routingConfig.js"></script>
    <script type="text/javascript" src="res/js/directives.js"></script>
    <script type="text/javascript" src="res/js/snap.svg-min.js"></script>

    <script type="text/javascript">
        if (window.location.href.indexOf('#_=_') > 0) {
            window.location = window.location.href.replace(/#.*/, '');
        }
    </script>

</head>
<body ng-controller="MainCtrl">
<div class="container">
    <!--<header class="header" id="header" ui-view="header-ui"></header>-->
    <header class="header" id="header">
        <div class="m-navigation">
            <svg menu-icon class="m-menu-icon" id="menu-icon">
                <g>
                    <rect x="0" y="10" width="32" height="4" id="rect1" fill="rgba(255, 255, 250, 1)" ></rect>
                    <rect x="0" y="18" width="32" height="4" id="rect2" fill="rgba(255, 255, 250, 1)"></rect>
                    <rect x="0" y="26" width="32" height="4" fill="rgba(255, 255, 250, 1)"></rect>
                </g>
            </svg>
            <!--<div id="logo-container" class="m-image-container">-->
                <!--<img class="logo" src="http://placehold.it/120x51">-->
                <!--<img id="logo" src="res/img/logo.png">-->
                <h2><span>stadler motorsport</span></h2>
            <!--</div>-->
            <!--<img src="http://placehold.it/175x175">-->
            <!--<img src="http://placehold.it/175x175">-->
            <!--<input type="button" value="state" style="height: 20px; width:100%" ng-click="changeState()">-->
            <ul class="m-list-unstyled menu-list">
                <li class="m-listitems-mobile navi-show" ng-repeat="menuitem in menuitems" ng-show="toggleNavigation" >
                    <a href>{{menuitem.title}}</a>
                    <!--<a href="/{{menuitem.title.toLowerCase()}}">{{menuitem.title}}</a>-->
                </li>
            </ul>
        </div>
    </header>
    <div content id="content-ui" class="l-content" ui-view="content-ui"></div>
    <div class="footer"></div>
</div>
</body>
</html>