<div class="l-history">
    <div class="m-history-container clearfix">
    <div class="m-flipper-container history">
        <div class="m-flipper history">
            <div class="m-flipper-front" >
                <!-- front content -->
                <h2><span>History Front{{selectedYear.year}}</span></h2>
                <!--<h2><span class="flipper">{{feature.title}}</span></h2>-->
                <!--<img ng-src="{{feature.img}}">-->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc nibh, facilisis quis laoreet sed, pharetra in ipsum. Donec vitae mi posuere, hendrerit nisi ac, vestibulum neque. <img ng-src="http://placehold.it/100x100"> Nam vitae massa a libero porttitor dictum in vitae nisl. Ut bibendum diam in dictum lobortis. Donec et eleifend sem. Aliquam feugiat mi turpis, eu fermentum dolor pellentesque at. In vulputate auctor leo in fringilla. Donec nec enim consequat, commodo ante sit amet, pellentesque eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas at turpis tempor est porta facilisis. Morbi nec euismod sapien.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<img ng-src="http://placehold.it/100x100"> Mauris nunc nibh, facilisis quis laoreet sed, pharetra in ipsum. Donec vitae mi posuere, hendrerit nisi ac, vestibulum neque. Nam vitae massa a libero porttitor dictum in vitae nisl. Ut bibendum diam in dictum lobortis. Donec et eleifend sem. Aliquam feugiat mi turpis, eu fermentum dolor pellentesque at. In vulputate auctor leo in fringilla. Donec nec enim consequat, commodo ante sit amet, pellentesque eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas at turpis tempor est porta facilisis. Morbi nec euismod sapien.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc nibh, facilisis quis laoreet sed, pharetra in ipsum. Donec vitae mi posuere, hendrerit nisi ac, vestibulum neque. Nam vitae massa a libero porttitor dictum in vitae nisl. Ut bibendum diam in dictum lobortis. Donec et eleifend sem. Aliquam feugiat mi turpis, eu fermentum dolor pellentesque at. In vulputate auctor leo in fringilla. Donec nec enim consequat, commodo ante sit amet, pellentesque eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas at turpis tempor est porta facilisis. Morbi nec euismod sapien.</p>
            </div>
            <div class="m-flipper-back">
                <!-- back content -->
                <h2><span>History Back{{selectedYear.year}}</span></h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc nibh, facilisis quis laoreet sed, pharetra in ipsum. Donec vitae mi posuere, hendrerit nisi ac, vestibulum neque. <img ng-src="http://placehold.it/100x100"> Nam vitae massa a libero porttitor dictum in vitae nisl. Ut bibendum diam in dictum lobortis. Donec et eleifend sem. Aliquam feugiat mi turpis, eu fermentum dolor pellentesque at. In vulputate auctor leo in fringilla. Donec nec enim consequat, commodo ante sit amet, pellentesque eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas at turpis tempor est porta facilisis. Morbi nec euismod sapien.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.<img ng-src="http://placehold.it/100x100"> Mauris nunc nibh, facilisis quis laoreet sed, pharetra in ipsum. Donec vitae mi posuere, hendrerit nisi ac, vestibulum neque. Nam vitae massa a libero porttitor dictum in vitae nisl. Ut bibendum diam in dictum lobortis. Donec et eleifend sem. Aliquam feugiat mi turpis, eu fermentum dolor pellentesque at. In vulputate auctor leo in fringilla. Donec nec enim consequat, commodo ante sit amet, pellentesque eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas at turpis tempor est porta facilisis. Morbi nec euismod sapien.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc nibh, facilisis quis laoreet sed, pharetra in ipsum. Donec vitae mi posuere, hendrerit nisi ac, vestibulum neque. Nam vitae massa a libero porttitor dictum in vitae nisl. Ut bibendum diam in dictum lobortis. Donec et eleifend sem. Aliquam feugiat mi turpis, eu fermentum dolor pellentesque at. In vulputate auctor leo in fringilla. Donec nec enim consequat, commodo ante sit amet, pellentesque eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas at turpis tempor est porta facilisis. Morbi nec euismod sapien.</p>
            </div>
        </div>
    </div>
    <div class="m-history-years">
        <ul class="m-list-unstyled history-list">
            <li class="m-listitems-years" ng-repeat="year in nostalgic | orderBy:year" >{{year.year}}</li>
            <!--<li class="m-listitems-years">1990</li>-->
            <!--<li class="m-listitems-years">1991</li>-->
            <!--<li class="m-listitems-years">1992</li>-->
            <!--<li class="m-listitems-years">1993</li>-->
            <!--<li class="m-listitems-years">1994</li>-->
            <!--<li class="m-listitems-years">1995</li>-->
            <!--<li class="m-listitems-years">1996</li>-->
            <!--<li class="m-listitems-years">1997</li>-->
            <!--<li class="m-listitems-years">1998</li>-->
            <!--<li class="m-listitems-years">1999</li>-->
            <!--<li class="m-listitems-years">2000</li>-->
            <!--<li class="m-listitems-years">2001</li>-->
            <!--<li class="m-listitems-years">2002</li>-->
            <!--<li class="m-listitems-years">2003</li>-->
            <!--<li class="m-listitems-years">2004</li>-->
            <!--<li class="m-listitems-years">2005</li>-->
            <!--<li class="m-listitems-years">2006</li>-->
            <!--<li class="m-listitems-years">2007</li>-->
            <!--<li class="m-listitems-years">2008</li>-->
            <!--<li class="m-listitems-years">2009</li>-->
            <!--<li class="m-listitems-years">2010</li>-->
            <!--<li class="m-listitems-years">2011</li>-->
            <!--<li class="m-listitems-years">2012</li>-->
            <!--<li class="m-listitems-years">2013</li>-->
            <!--<li class="m-listitems-years">2014</li>-->
        </ul>
    </div>
    </div>
</div>