<div class="content-main">
    <div class="m-content-main-item">
        <h2><span>Lorem Ipsum</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur* adipiscing elit.
            Nulla *accumsan fringilla ante vel dignissim. Ut commodo
            erat at velit dapibus, sit amet bibendum magna mattis.
            Donec lobortis posuere turpis, in malesuada turpis malesuada et.
            Integer laoreet mollis commodo. Maecenas non luctus augue,
            blandit hendrerit magna. Etiam non massa lorem. In vitae
            gravida massa, a ultrices libero. Integer eu iaculis velit.
            Nam fringilla dui quis eros cursus placerat. Morbi id sem
            vel tortor iaculis sagittis sit amet at nulla. Maecenas
            et consequat ante. Ut vehicula aliquet ipsum pulvinar
            sagittis. Donec at pellentesque odio.</p>
    </div>
    <div class="m-content-main-item">
        <h2><span>Lorem Ipsum</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur* adipiscing elit.
            Nulla *accumsan fringilla ante vel dignissim. Ut commodo
            erat at velit dapibus, sit amet bibendum magna mattis.
            Donec lobortis posuere turpis, in malesuada turpis malesuada et.
            Integer laoreet mollis commodo. Maecenas non luctus augue,
            blandit hendrerit magna. Etiam non massa lorem. In vitae
            gravida massa, a ultrices libero. Integer eu iaculis velit.
            Nam fringilla dui quis eros cursus placerat. Morbi id sem
            vel tortor iaculis sagittis sit amet at nulla. Maecenas
            et consequat ante. Ut vehicula aliquet ipsum pulvinar
            sagittis. Donec at pellentesque odio.</p>
    </div>
    <div class="m-content-main-item">
        <h2><span>Lorem Ipsum</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur* adipiscing elit.
            Nulla *accumsan fringilla ante vel dignissim. Ut commodo
            erat at velit dapibus, sit amet bibendum magna mattis.
            Donec lobortis posuere turpis, in malesuada turpis malesuada et.
            Integer laoreet mollis commodo. Maecenas non luctus augue,
            blandit hendrerit magna. Etiam non massa lorem. In vitae
            gravida massa, a ultrices libero. Integer eu iaculis velit.
            Nam fringilla dui quis eros cursus placerat. Morbi id sem
            vel tortor iaculis sagittis sit amet at nulla. Maecenas
            et consequat ante. Ut vehicula aliquet ipsum pulvinar
            sagittis. Donec at pellentesque odio.</p>
    </div>
    <div class="m-content-main-item"></div>
    <div class="m-content-main-item"></div>
</div>