<div class="l-navigation">
    <svg menu-icon class="m-menu-icon" id="menu-icon">
        <g>
            <rect x="0" y="10" width="32" height="4" id="rect1" fill="rgba(255, 255, 250, 1)" ></rect>
            <rect x="0" y="18" width="32" height="4" id="rect2" fill="rgba(255, 255, 250, 1)"></rect>
            <rect x="0" y="26" width="32" height="4" fill="rgba(255, 255, 250, 1)"></rect>
        </g>
    </svg>
    <div class="m-image-container">
    <!--<img class="logo" src="http://placehold.it/120x51">-->
    <img id="logo" src="res/img/logo.png">
    <h2><span>stadler motorsport</span></h2>
    </div>
    <!--<img src="http://placehold.it/175x175">-->
    <!--<img src="http://placehold.it/175x175">-->
    <ul class="m-list-unstyled">
        <li class="m-listitems-mobile navi-show" ng-repeat="menuitem in menuitems" ng-show="toggleNavigation" >
        <a href="/{{menuitem.title.toLowerCase()}}">{{menuitem.title}}</a>
        </li>
    </ul>
</div>