<div class="m-content-main-item">
    <div class="m-content-main-item-wrap">
        <h2><span>Dienstleistungen</span></h2>
        <div class="l-services-wrap clearfix">
            <div class="l-services">
                <div class="m-perspective">
                    <div class="m-service">
                        <h2><span>Servicearbeiten und Fahrzeugprüfungen</span></h2>
                        <object type="image/svg+xml" data="res/svg/service.svg">Your browser does not support</object>
                        <p>Wir führen die von Porsche vorgeschriebenen Servicearbeiten durch,
                            bereiten die Autos für die Periodischen Fahrzeugprüfungen vor und
                            prüfen Ihr Fahrzeug auf der Motorfahrzeugkontrolle.
                        </p>
                    </div>
                </div>
                <div class="m-perspective">
                    <div class="m-service">
                        <h2><span>Vorbereitung und Betreuung an der Rennstrecke</span></h2>
                        <object type="image/svg+xml" data="res/svg/racing.svg">Your browser does not support</object>
                        <p>Wie bereiten Ihren Porsche optimal für den Einsatz auf der Rennstrecke vor.
                            Ebenfalls unterstützen wir Sie an der Rennstrecke bei Rennen oder freien
                            Trainings und Sie profitieren von unserer langjährigen Erfahrung.</p>
                    </div>
                </div>
                <div class="m-perspective">
                    <div class="m-service"><h2><span>Motorenrevisionen</span></h2>
                        <object type="image/svg+xml" data="res/svg/motor-revision.svg">Your browser does not support</object>
                        <p>Ihr müder Porsche Motor erwacht bei uns zu neuem Leben
                            Wir revidieren alle Porsche Motoren-typen, Luft wie auch Wassergekühlte.
                        </p></div>
                </div>
                <div class="m-perspective">
                    <div class="m-service"><h2><span>Getrieberevisionen</span></h2>
                        <object type="image/svg+xml" data="res/svg/gear-revision.svg">Your browser does not support</object>
                        <p>Wir revidieren alle Porsche Getriebe. Auch änderungen an der
                            Übersetzung sind möglich und können an Ihre Ansprüche angepasst warden.</p></div>
                </div>
                <div class="m-perspective">
                    <div class="m-service"><h2><span>Unfallreparaturen und Fahrzeugaufbauten</span></h2>
                        <object type="image/svg+xml" data="res/svg/repair-rebuild.svg">Your browser does not support</object>
                        <p>Nach einem Unfall reparieren wie Ihren Porsche.
                            Ein Rennauto wird wenn nötig mittels einer Porsche Roh-Carrosserie
                            Komplett neu aufgebaut.
                        </p></div>
                </div>
                <div class="m-perspective">
                    <div class="m-service"><h2><span>Fahrzeugvermessungen</span></h2>
                        <object type="image/svg+xml" data="res/svg/measurement.svg">Your browser does not support</object>
                        <p>Die Basis für das Vertrauen in Ihr Fahrzeug ist die optimale Fahrwerkseinstellung.
                            Wir finden für jede Anforderung , sei es auf der Strasse oder
                            auf der Rennstrecke, die auf Ihren Fahrstil angepasste optimal Lösung.
                        </p></div>
                </div>
                <div class="m-perspective">
                    <div class="m-service"><h2><span>Restaurationen</span></h2>
                        <object type="image/svg+xml" data="res/svg/restauration.svg">Your browser does not support</object>
                        <p>Total Restaurationen von Porsche Fahrzeugen führen wir
                            Originalgetreu und mit grösster Sorgfalt aus.</p></div>
                </div>
                <div class="m-perspective">
                    <div class="m-service"><h2><span>Sonderanfertigungen</span></h2>
                        <object type="image/svg+xml" data="res/svg/specialparts.svg">Your browser does not support</object>
                        <p>Für jeden Kundenwunsch finden wir die technisch ideale Lösung, sei es
                            Für Einzelanfertigungen oder Kleinserien.
                            Wir achten dabei auf Qualität, Sicherheit und Reglement-Konformität
                            bei Rennfahrzeugen.
                        </p></div>
                </div>
                <div class="m-perspective">
                    <div class="m-service"><h2><span>Transporte</span></h2>
                        <object type="image/svg+xml" data="res/svg/transport.svg">Your browser does not support</object>
                        <p>Sie haben keine Zeit um Ihr Fahrzeug auf all die verschiedenen Rennstrecken
                            zu transportieren.
                            Gerne übernehmen wir diese Transporte für Sie, inkl aller notwendigen Transportpapiere.
                            Dies gilt auch für Fahrzeuge die bei uns zur Reparatur angemeldet sind.
                            Wir holen Ihren Porsche zu uns und liefern ihn auch wieder zu Ihnen nach Hause in einem unserer
                            geschlossenen Fahrzeuge.
                        </p></div>
                </div>
        </div>
    </div>
    </div>
    </div>