<div class="m-content-main-item">
        <h2><span>Dienstleistungen</span></h2>
            <div class="l-services clearfix">
                    <div class="m-service">
                        <object class="m-svg-object" type="image/svg+xml" data="res/svg/service.svg">Your browser does not support</object>
                        <h2><span>Servicearbeiten und Fahrzeugprüfungen</span></h2>
                    </div>
                    <div class="m-service">
                        <object class="m-svg-object" type="image/svg+xml" data="res/svg/racing.svg">Your browser does not support</object>
                        <h2><span>Vorbereitung und Betreuung an der Rennstrecke</span></h2>
                    </div>
                    <div class="m-service">
                        <object class="m-svg-object" type="image/svg+xml" data="res/svg/motor-revision.svg">Your browser does not support</object>
                        <h2><span>Motorenrevisionen</span></h2>
                        </div>
                    <div class="m-service">
                        <object class="m-svg-object" type="image/svg+xml" data="res/svg/gear-revision.svg">Your browser does not support</object>
                        <h2><span>Getrieberevisionen</span></h2>
                        </div>
                    <div class="m-service">
                        <object class="m-svg-object" type="image/svg+xml" data="res/svg/repair-rebuild.svg">Your browser does not support</object>
                        <h2><span>Unfallreparaturen und Fahrzeugaufbauten</span></h2>
                        </div>
                    <div class="m-service">
                        <object class="m-svg-object" type="image/svg+xml" data="res/svg/measurement.svg">Your browser does not support</object>
                        <h2><span>Fahrzeugvermessungen</span></h2>
                        </div>
                    <div class="m-service">
                        <object class="m-svg-object" type="image/svg+xml" data="res/svg/restauration.svg">Your browser does not support</object>
                        <h2><span>Restaurationen</span></h2>
                        </div>
                    <div class="m-service">
                        <object class="m-svg-object" type="image/svg+xml" data="res/svg/specialparts.svg">Your browser does not support</object>
                        <h2><span>Sonderanfertigungen</span></h2>
                       </div>
                    <div class="m-service">
                        <object class="m-svg-object" type="image/svg+xml" data="res/svg/transport.svg">Your browser does not support</object>
                        <h2><span>Transporte</span></h2>
                        </div>
        </div>
    </div>
