<div class="m-content-main-item">
    <h2><span>erfolgsgeschichte</span></h2>
    <div class="m-success-wrap clearfix">
        <div class="m-success-item">
            <img ng-src="/res/img/success-1992.png">
            <span><h2>Winner Carrera Trophy</h2></span>
        </div>
        <div class="m-success-item">
            <img ng-src="/res/img/success-1993.png">
            <span><h2>Winner Carrera Alps Trophy</h2></span>
        </div>
        <div class="m-success-item">
            <img ng-src="/res/img/success-1994.png">
            <span><h2>2nd in Class 24h Le Mans</h2></span>
        </div>
        <div class="m-success-item">
            <img ng-src="/res/img/success-1994-vallelunga.png">
            <span><h2>Classwinner 6h Vallelunga</h2></span>
        </div>
        <div class="m-success-item">
            <img ng-src="/res/img/success-1995.png">
            <span><h2>Classwinner and  5th overall 24h Daytona</h2></span>
        </div>
        <div class="m-success-item">
            <img ng-src="/res/img/success-1995.png">
            <span><h2>Classwinner 1000km Suzuka</h2></span>
        </div>
        <div class="m-success-item">
            <img ng-src="/res/img/success-1995-fia.png">
            <span><h2>Classwinner and second overall FIA-GT</h2></span>
        </div>
        <div class="m-success-item">
            <img ng-src="/res/img/success-1995-pcup.png">
            <span><h2>Winner Porsche World Cup</h2></span>
        </div>
        <div class="m-success-item">
            <img ng-src="/res/img/success-1996.png">
            <span><h2>Classwinner and 4th overall 24h Daytona</h2></span>
        </div>
        <div class="m-success-item">
            <img ng-src="/res/img/success-2003.png">
            <span><h2>Winner  GTP Trophy</h2></span>
        </div>
        <div class="m-success-item">
            <img ng-src="/res/img/success-2004.png">
            <span><h2>2nd  Czech Championship</h2></span>
        </div>
        <div class="m-success-item">
            <img ng-src="/res/img/success-2004-gerling.png">
            <span><h2>Winner Class 5 and second overall GTP Trophy</h2></span>
        </div>
        <div class="m-success-item">
            <img ng-src="/res/img/success-2006.png">
            <span><h2>2nd Czech Championship</h2></span>
        </div>
        <div class="m-success-item">
            <img ng-src="/res/img/success-2007.png">
            <span><h2>2nd Czech Chamionship</h2></span>
        </div>
        <div class="m-success-item">
            <img ng-src="/res/img/success-2010.png">
            <span><h2>Classwinner  +  4th overall 6h Vallelunga</h2></span>
        </div>
        <div class="m-success-item">
            <img ng-src="/res/img/success-2011.png">
            <span><h2>Classwinner and 3th overall 6h Misano</h2></span>
        </div>
        <div class="m-success-item">
            <img ng-src="/res/img/success-2012.png">
            <span><h2>6th Overall 24h Dubai</h2></span>
        </div>
        <div class="m-success-item">
            <img ng-src="/res/img/success-2013.png">
            <span><h2>4th in Class and 9th Overall 24h Dubai</h2></span>
        </div>
        <div class="m-success-item">
            <img ng-src="/res/img/success-2014-dubai.png">
            <span><h2>Winner 24h Dubai 2014</h2></span>
        </div>
        <div class="m-success-item">
            <img ng-src="/res/img/success-2014.png">
            <span><h2>2nd Overall 12h Mugello</h2></span>
        </div>
    </div>
</div>