<div class="m-content-main-item">
    <div class="m-content-main-item-wrap">
        <h2><span>Erfolge im Motorsport</span></h2>


        <svg class="m-svg-cross white" viewBox="0 0 50 50" enable-background="new 0 0 50 50">
            <rect x="-30" y="35" width="60px" height="1px" transform="rotate(-45)"/>
            <rect x="6" y="-1" width="60px" height="1px" transform="rotate(45)"/>
            <rect x="-150" y="25" width="150px" height="1px"></rect>
            <rect x="50" y="25" width="150px" height="1px"></rect>
        </svg>
    </div>
</div>