<div class="m-service-text">
    <p>
        Wir führen die von Porsche vorgeschriebenen Servicearbeiten durch,
        bereiten die Autos für die Periodischen Fahrzeugprüfungen vor und
        prüfen Ihr Fahrzeug auf der Motorfahrzeugkontrolle.
    </p>
</div>
<div class="m-service-img">

</div>
<div class="m-service-thumbs">
    <div class="m-service-thumbs-wrap">
        <img ng-src="http://placehold.it/350x180">
        <img ng-src="http://placehold.it/350x180">
        <img ng-src="http://placehold.it/350x180">
        <img ng-src="http://placehold.it/350x180">
        <img ng-src="http://placehold.it/350x180">
        <img ng-src="http://placehold.it/350x180">
        <img ng-src="http://placehold.it/350x180">
        <img ng-src="http://placehold.it/350x180">
    </div>
</div>