<div class="m-content-main-item">
       <h2><span>team</span></h2>

        <div class="m-team-wrap clearfix">
                <div class="m-team-item"><img ng-src="/res/img/matthias-stadler-small.png">
                   <h2>Matthias Stadler</h2>
                </div>
                <div class="m-team-item"><img ng-src="/res/img/romy-stadler2-small.png">
                   <h2>Romy Stadler</h2>
                </div>
           
                <div class="m-team-item"><img ng-src="/res/img/christof-stadler-small.png">
                   <h2>Christoph Stadler</h2>
                </div>
           
                <div class="m-team-item"><img ng-src="/res/img/thomas-gruetter-small.png">
                   <h2>Thomas Grütter</h2>
                </div>
               
            <div class="m-team-item"><img ng-src="/res/img/thomas-haehnel-small.png">
                   <h2>Thomas Hähnel</h2>
                </div>
                <div class="m-team-item"><img ng-src="/res/img/elias-lusti-small.png">
                   <h2>Elias Lusti</h2>
                </div>
                <div class="m-team-item"><img ng-src="/res/img/fred-yerly-small.png">
                   <h2>Fred Yerly</h2>
                </div>
           
                <div class="m-team-item"><img ng-src="/res/img/juerg-aeberhard-small.png">
                   <h2>Jürg Aeberhard</h2>
                </div>
                <div class="m-team-item"><img ng-src="/res/img/ruediger-stillhammer-small.png">
                   <h2>Rüdiger Stillhammer</h2>
                </div>
        </div>
</div>