<div class="m-content-main-item">
    <div class="m-content-main-item-wrap">
        <h2><span>Team</span></h2>

        <div class="m-team-item-wrap clearfix">
            <div class="m-perspective">
                <div class="m-team-item"><img src="/res/img/matthias-stadler-small.png">

                    <h2><span>Matthias Stadler</span></h2></div>
            </div>
            <div class="m-perspective">
                <div class="m-team-item"><img src="/res/img/romy-stadler2-small.png">

                    <h2><span>Romy Stadler</span></h2></div>
            </div>
            <div class="m-perspective">
                <div class="m-team-item"><img src="/res/img/christof-stadler-small.png">

                    <h2><span>Christoph Stadler</span></h2></div>
            </div>
            <div class="m-perspective">
                <div class="m-team-item"><img src="/res/img/thomas-gruetter-small.png">

                    <h2><span>Thomas Grütter</span></h2></div>
            </div>
            <div class="m-perspective">
                <div class="m-team-item"><img src="/res/img/thomas-haehnel-small.png">

                    <h2><span>Thomas Hähnel</span></h2></div>
            </div>
            <div class="m-perspective">
                <div class="m-team-item"><img src="/res/img/elias-lusti-small.png">

                    <h2><span>Elias Lusti</span></h2></div>
            </div>
            <div class="m-perspective">
                <div class="m-team-item"><img src="/res/img/fred-yerly-small.png">

                    <h2><span>Fred Yerli</span></h2></div>
            </div>
            <div class="m-perspective">
                <div class="m-team-item"><img src="/res/img/juerg-aeberhard-small.png">

                    <h2><span>Jürg Aeberhard</span></h2></div>
            </div>
            <div class="m-perspective">
                <div class="m-team-item"><img src="/res/img/ruediger-stillhammer-small.png">

                    <h2><span>Rüdiger Stillhammer</span></h2></div>
            </div>
        </div>
        <svg class="m-svg-cross red" viewBox="0 0 50 50" enable-background="new 0 0 50 50">
            <rect x="-30" y="35" width="60px" height="1px" transform="rotate(-45)"/>
            <rect x="6" y="-1" width="60px" height="1px" transform="rotate(45)"/>
            <rect x="-150" y="25" width="150px" height="1px"></rect>
            <rect x="50" y="25" width="150px" height="1px"></rect>
        </svg>
    </div>
</div>