* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(../js/boxsizing.htc);

    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

*::-webkit-scrollbar {
    width: 0!important;
}

html {
    /*background: url(../img/medium.jpg) no-repeat center center fixed;*/
    /*background: rgb(255,255,250);*/
    /*background: rgba(255,255,250,1);*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
}

body {
    /*background: url(../img/street.png) fixed;*/
    /*background: url(../img/porsche-logo.jpg) no-repeat fixed;*/
    /*background: rgb(255,66,66);
    background: rgba(255,66,66,0.7);*/
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    /*background-image: url(../img/street.png);*/
    /*background-attachment: fixed;*/
    /*background-repeat: repeat-y;*/
    /*background-position: 50%;*/
    /*background-size: cover;*/
    font: normal 1em Helvetica, Sans-Serif;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

p {
    font-size: 0.8em;
    /*margin: 0em 1em 0em 1em;*/
    padding: 1em 0em 1em 0em;
}

header {
    /*border: dotted #000000;*/
    /*border-width: 1px;*/
    position: fixed;
    z-index: 1000;
    height: 0px;
    /*height: 216px;*/
    width: 100%;
    /*overflow-y: hidden;*/
    background: rgb(255,66,66);/* fallback color */
    background: rgba(255,66,66,1);

    -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.75) ;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

}

footer {
    position: fixed;
    bottom: -220px;
    height: 220px;
    width: 100%;
}

#map {
    height: 300px;
    width:100%;
}

.container {
    /*max-width: 1125px;*/
    margin: 0 auto;
    overflow: hidden;
    overflow-x: auto;
    /*border: dotted #000000;*/
    /*border-width:   1px;*/
}

.l-content {
    /*padding-top: 216px;*/
    /*padding-top: 55px;*/
    overflow-x: hidden;
}
.l-services-wrap{
    position: relative;
    left: 0px;
    width: 100%;
    /*width: 720px;*/
    /*height: 900px;*/
    overflow: hidden;

    -webkit-transition: all 0.2s .2s;
    -moz-transition: all 0.2s .2s;
    -ms-transition: all 0.2s .2s;
    -o-transition: all 0.2s .2s;
    transition: all 0.2s .2s;
}
.l-services {
    position: relative;
    float: left;
    width: 100%;
}
.l-services-content {
    position: relative;
    float: left;
    width: 50%;
    /*height: inherit;*/
    /*height: 720px;*/

    background: rgb(255, 255, 250); /* fallback color */
    background: rgba(255, 255, 250, 1);

    -webkit-transition: all 2s 0.1s;
    -moz-transition: all 2s 0.1s;
    -ms-transition: all 2s 0.1s;
    -o-transition: all 2s 0.1s;
    transition: all 2s 0.1s;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

@media (min-width: 1025px) and (orientation: landscape) {
    * {
        -ms-overflow-style: scrollbar;
        overflow: -moz-scrollbars;
    }

    *::-webkit-scrollbar {
        width: 5px!important;
    }
}
