* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(../js/boxsizing.htc);
}

body {
    font: normal 1em Helvetica, Sans-Serif;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

header {
    /*border: dotted #000000;*/
    /*border-width: 1px;*/
    position: fixed;
    /*height: 216px;*/
    /*overflow-y: hidden;*/
    /*background: rgb(114, 114, 114); *//* fallback color */
    /*background: rgba(114, 114, 114, 1);*/
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.container {
    max-width: 1125px;
    margin: 0 auto;
    overflow: hidden;
    overflow-x: auto;
    /*border: dotted #000000;*/
    /*border-width:   1px;*/
}

.l-content {
    /*padding-top: 216px;*/
}

.l-features {
    height: 480px;
}

.l-navigation {
}

#logo {
    width: 100%;
    display: block;
}