* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(../js/boxsizing.htc);

    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

*::-webkit-scrollbar {
    width: 0!important;
}

html {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font: normal 1em Helvetica, Sans-Serif;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

p {
    font-size: 0.8em;
    /*margin: 0em 1em 0em 1em;*/
    padding: 1em 0em 1em 0em;
}

header {
    /*border: dotted #000000;*/
    /*border-width: 1px;*/
    position: fixed;
    z-index: 1000;
    height: 50px;
    /*height: 216px;*/
    width: 100%;
    /*overflow-y: hidden;*/
    /*background: rgb(114, 114, 114); *//* fallback color */
    /*background: rgba(114, 114, 114, 1);*/
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.container {
    max-width: 1125px;
    margin: 0 auto;
    overflow: hidden;
    overflow-x: auto;
    /*border: dotted #000000;*/
    /*border-width:   1px;*/
}

.l-content {
    /*padding-top: 216px;*/
    padding-top: 50px;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.l-features {
    /*height: 480px;*/
}

.l-history {
    height: 590px;
}

.l-history-container {
    float: left;
    height: inherit;
}

/*#logo {*/
    /*width: 100%;*/
    /*display: block;*/
/*}*/