.m-logo{
    height: inherit;
    float: left;
}
.m-logo > img {
    position: relative;
    top: 25%;
}
.m-address-ui{
    height: inherit;
    float: right;
}
.m-address{
    font: normal 0.8rem/1rem Helvetica, Sans-Serif;
    margin: 0rem 1rem 0rem 1rem;
}
.m-address > h2 > span {
    background: rgb(255, 0, 0);
    background: rgba(255, 0, 0, 0.7);
    font: normal 1.2rem/1.6rem Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: rgb(255, 255, 250);
    color: rgba(255, 255, 250, 1);
    padding: 0 1rem 0 1rem;
}
.m-landing > h1 > span{
    background: rgb(255, 0, 0);
    background: rgba(255, 0, 0, 0.7);
    font: normal 4rem/5rem Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: rgb(255, 255, 250);
    color: rgba(255, 255, 250, 1);
    padding: 0 1rem 0 1rem;
}
.m-list-unstyled{
    list-style: none;
    text-decoration: none;
}
.m-navigation h2 > span{
    background: rgb(255, 0, 0);
    background: rgba(255, 0, 0, 0.7);
    font: normal 1.2rem/1.6rem Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: rgb(255, 255, 250);
    color: rgba(255, 255, 250, 1);
    padding: 0rem 1rem 0rem 1rem;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.m-navigation h2 > span:hover{
    background: rgb(255, 0, 0);
    background: rgba(255, 0, 0, 0.7);
    font: normal 1.2rem/5rem Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: rgb(255, 255, 250);
    color: rgba(255, 255, 250, 1);
    padding: 1rem 1rem 1rem 1rem;
}
.m-content-main-item{
    width: 100%;
    padding-top: 1rem;
}
.m-content-main-item > p {
    text-align: justify;
    padding: 1em;
}
/*h2 {*/

/*h2 > span {*/
.m-content-main-item > h2 > span {
    color: rgb(255, 0, 0);
    color: rgba(255, 0, 0, 0.7);
    font: normal 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(255, 255, 250); /* fallback color */
    background: rgba(255, 255, 250, 1);
    padding: 10px;
}

.m-content-main-item > h2 {
    text-align: left;
    padding-bottom: 10px;
}
.m-svg-object{
    position: relative;
    left: 50%;
}
.m-service {
    float: left;
    width: 30%;
    height: 180px;
    margin: 10px 10px 10px 10px;
   /* border: 1px solid rgba(255, 0, 0, 0.7);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;*/
}
.m-service > h2 {
    text-align: center;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid rgba(255, 0, 0, 0.7);
    letter-spacing: -1px;
}
.m-service > h2 > span{
    background: rgb(255, 0, 0);
    background: rgba(255, 0, 0, 0.7);
    font: normal 1.2rem/1.4rem Helvetica, Sans-Serif;
    color: rgb(255, 255, 250);
    color: rgba(255, 255, 250, 1);
}
/*.m-service:nth-child(odd) {
    left:-361px;
}
.m-service:nth-child(even) {
    right: -361px;
}
.m-service:nth-child(4n),.m-service:nth-child(4n-3) > h2 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}
.m-service:nth-child(4n) > h2 > span ,.m-service:nth-child(4n-3) > h2 > span {
    color: rgb(255, 0, 0);
    color: rgba(255, 0, 0, 0.7);
    font: normal 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    padding: 10px;
}*/
/*.m-service:nth-child(4n),.m-service:nth-child(4n-3) {
background: rgb(255, 255, 250); *//* fallback color *//*
background: rgba(255, 255, 250, 1);
}
.m-service:nth-child(4n-1),.m-service:nth-child(4n-2) > h2 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}
.m-service:nth-child(4n-1) > h2 > span ,.m-service:nth-child(4n-2) > h2 > span {
    color: rgb(255, 0, 0);
    color: rgba(255, 0, 0, 0.7);
    font: normal 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(255, 255, 250); *//* fallback color *//*
    background: rgba(255, 255, 250, 1);
    padding: 10px;
}*/
.m-team-item-wrap{
    width: 100%;
}
.m-perspective{
    float: left;
    width: inherit;
}
.m-team-item {
    position: relative;
    top: 50px;
    width: 100%;
    background: rgb(255, 255, 250);
    background: rgba(255, 255, 250, 1);
    -webkit-transform: rotateX(15deg); /* Chrome, Safari, Opera  */
    transform: rotateX(15deg);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.m-team-item > h2 {
    text-align: center;
    padding-bottom: 10px;
}
.m-team-item > h2 > span {
    color: rgb(255, 0, 0);
    color: rgba(255, 0, 0, 0.7);
    font: normal 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(255, 255, 250); /* fallback color */
    background: rgba(255, 255, 250, 1);
    padding: 10px;
}
.m-team-item > img {
    position: relative;
    left: 24%;
    width: 50%;
    margin: 1rem 0rem 0rem 0rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
 }
.m-footer {

    -webkit-transition: all 1s 0s;
    -moz-transition: all 1s 0s;
    -ms-transition: all 1s 0s;
    -o-transition: all 1s 0s;
    transition: all 1s 0s;

}
.m-svg-contact {
    fill: rgb(66, 66, 66);
    fill: rgba(66, 66, 66, 1);
    position: relative;
    left: 38%;
    top: -40px;
}

@media (min-width: 1025px) and (orientation: landscape)  {
    .m-perspective {
        float: left;
        width: 33.3%;
    }
    .m-content-main-item-wrap{
        width: 65%;
        margin:0 auto;
    }

    #extending-line{
        width: 400px;
    }
    .m-svg-cross{
        display: none;
    }
    
}