.m-logo{
    height: inherit;
    float: left;
}
.m-logo > img {
    position: relative;
    top: 25%;
}
.m-subsite{
    width: 100%;
    margin: 1px 0px 0px 0px;
}
.m-subsite > h2{
    text-align: center;
    background: rgb(255, 255, 250);
    background: rgba(255, 255, 250, 1);
}
.m-subsite > h2 > span {
    font: normal 2.5rem/3.6rem Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: rgb(255, 0, 0);
    color: rgba(255, 0, 0, 0.7);
    padding: 0 1rem 0 1rem;
}
.m-address-ui{
    height: inherit;
    float: right;
}
.m-address{
    font: normal 0.8rem/1rem Helvetica, Sans-Serif;
    margin: 0rem 1rem 0rem 1rem;
}
.m-address > h2 {
    font: normal 1.2rem/1.6rem Helvetica, Sans-Serif;
    color: rgb(225, 0, 0);
    color: rgba(225, 0, 0, 1);
    margin: 1.5rem 1.5rem 0rem 0rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-color: rgb(255,0,0);
    border-style: solid;
    border-width: 1px;
}
.m-address > h2 > span {
    font: normal 1.2rem/1.6rem Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: rgb(255, 255, 250);
    color: rgba(255, 255, 250, 1);
    padding: 0 1rem 0 1rem;
    background: rgb(255, 0, 0);
    background: rgba(255, 0, 0, 0.7);
}
.m-menu {
    float: right;
}
.m-menu-icon{
    margin: 1.5rem 0rem 0rem 0rem;
    fill: rgba(225,0,0,0.7);
}
.m-landing > h1 > span{
    background: rgb(255, 0, 0);
    background: rgba(255, 0, 0, 0.7);
    font: normal 4rem/5rem Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: rgb(255, 255, 250);
    color: rgba(255, 255, 250, 1);
    padding: 0 1rem 0 1rem;
}
.m-list-unstyled{
    list-style: none;
    text-decoration: none;
}
.m-perspective{
    height: inherit;
    background: rgb(255,255,250);
    background: rgba(255,255,250,0.5);
    -webkit-transform: rotateY(-100deg);
    -moz-transform: rotateY(-100deg);
    -ms-transform: rotateY(-100deg);
    -o-transform: rotateY(-100deg);
    transform: rotateY(-100deg);

    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    transform-origin: 100% 0;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.m-navigation h2 {
    font: normal 1.2rem/1.6rem Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: rgb(225,0,0);
    color: rgba(225,0,0,1);
    line-height: 40px;
    padding: 0rem 1rem 0rem 1rem;
}
.m-navigation li {
    margin: 20px 0px 0px 0px;
}
.m-navigation hr{
    position: relative;
    border-color: rgba(225,0,0,1);
    width: 60%;
    left: 20%;
}
.m-content-main-item{
    width: 100%;
    padding-top: 1rem;
}
.m-content-main-item > p {
    text-align: justify;
    padding: 1em;
}
/*h2 {*/

/*h2 > span {*/
.m-content-main-item > h2 > span {
    color: rgb(255, 0, 0);
    color: rgba(255, 0, 0, 0.7);
    font: normal 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(255, 255, 250); /* fallback color */
    background: rgba(255, 255, 250, 1);
    padding: 10px;
}

.m-content-main-item > h2 {
    text-align: left;
    padding-bottom: 10px;
}
.m-textspan-fullwidth{
    width: 100%;
    float: left;
}
.m-textspan-fullwidth > h2{
    width: 100%;
    text-align: center;
    padding-bottom: 10px;

    background: rgb(255, 0, 0);
    background: rgba(255, 0, 0, 0.7);
    font: normal 1.2rem/2.8rem Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: rgb(255, 255, 250); /* fallback color */
    color: rgba(255, 255, 250, 1);
    padding: 10px;
}
.m-svg-object{
    position: relative;
    left: 35%;
}
.m-service {
    float: left;
    width: 30%;
    height: 180px;
    margin: 10px 10px 10px 10px;
   /* border: 1px solid rgba(255, 0, 0, 0.7);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;*/
}
.m-service > h2 {
    height: 48px;
    text-align: center;
    margin-top: 1rem;
    background: rgb(225, 0, 0);
    background: rgba(225, 0, 0, 1);
    letter-spacing: -1px;
}
.m-service > h2 > span{
    font: normal 1rem/1.4rem Helvetica, Sans-Serif;
    color: rgb(255, 255, 250);
    color: rgba(255, 255, 250, 1);
}
/*.m-service:nth-child(odd) {
    left:-361px;
}
.m-service:nth-child(even) {
    right: -361px;
}
.m-service:nth-child(4n),.m-service:nth-child(4n-3) > h2 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}
.m-service:nth-child(4n) > h2 > span ,.m-service:nth-child(4n-3) > h2 > span {
    color: rgb(255, 0, 0);
    color: rgba(255, 0, 0, 0.7);
    font: normal 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    padding: 10px;
}*/
/*.m-service:nth-child(4n),.m-service:nth-child(4n-3) {
background: rgb(255, 255, 250); *//* fallback color *//*
background: rgba(255, 255, 250, 1);
}
.m-service:nth-child(4n-1),.m-service:nth-child(4n-2) > h2 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}
.m-service:nth-child(4n-1) > h2 > span ,.m-service:nth-child(4n-2) > h2 > span {
    color: rgb(255, 0, 0);
    color: rgba(255, 0, 0, 0.7);
    font: normal 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(255, 255, 250); *//* fallback color *//*
    background: rgba(255, 255, 250, 1);
    padding: 10px;
}*/
.m-team-wrap{
    width: 100%;
    padding: 0% 15% 0% 15%;
}
.m-team-item {
    position: relative;
    float: left;
    width: 20%;
    overflow: hidden;
}
.m-team-item > span {
    position: absolute;
    bottom: -110px;
    width: 100%;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.m-team-item > span > h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;

    background: rgb(255, 0, 0);
    background: rgba(255, 0, 0, 0.7);
    font: normal 1.2rem/2.8rem Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: rgb(255, 255, 250); /* fallback color */
    color: rgba(255, 255, 250, 1);
    padding: 10px;
}
.m-team-item:hover > span{
    bottom: 0px;
}
.m-team-item > img {
    width: 100%;
    display: block;
 }
.m-success-wrap{
    width: 100%;
    padding: 0% 15% 0% 15%;
}
.m-success-item {
    position: relative;
    float: left;
    overflow: hidden;
}
.m-success-item > span {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.m-success-item > span > h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;

    background: rgb(255, 0, 0);
    background: rgba(255, 0, 0, 0.7);
    font: normal 1.2rem/2.8rem Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: rgb(255, 255, 250); /* fallback color */
    color: rgba(255, 255, 250, 1);
    padding: 10px;
}
.m-map-wrap{
    width: 100%;
    padding: 0% 15% 0% 15%;
}
.m-mapbox{
    height: 530px;
    width:100%;
}
.m-footer {

    -webkit-transition: all 1s 0s;
    -moz-transition: all 1s 0s;
    -ms-transition: all 1s 0s;
    -o-transition: all 1s 0s;
    transition: all 1s 0s;

}
.m-svg-contact {
    fill: rgb(66, 66, 66);
    fill: rgba(66, 66, 66, 1);
    position: relative;
    left: 38%;
    top: -40px;
}

@media (min-width: 1025px) and (orientation: landscape)  {
    .m-content-main-item-wrap{
        width: 65%;
        margin:0 auto;
    }

    #extending-line{
        width: 400px;
    }
    .m-svg-cross{
        display: none;
    }
    
}