.blur {
    -webkit-filter: blur(13px);
    -moz-filter: blur(13px);
    -o-filter: blur(13px);
    -ms-filter: blur(13px);
    filter: blur(13px);
}
.m-service:nth-child(odd).isVisible{
    left: 0px;
}
.m-service:nth-child(even).isVisible{
    right: 0px;
}

.m-footer.isVisible{
    background: rgba(255,255,250,1);
    height: 80px;
}