.blur {
    -webkit-filter: blur(13px);
    -moz-filter: blur(13px);
    -o-filter: blur(13px);
    -ms-filter: blur(13px);
    filter: blur(13px);
}/*
.l-services-wrap.isVisible{
    left: -360px;
}
.m-service:nth-child(odd).isVisible{
    left: 0px;
}
.m-service:nth-child(even).isVisible{
    right: 0px;
}*/
header.isVisible{
    height: 55px;
}
.m-service.isVisible{
    -webkit-transform: rotateX(0deg); /* Chrome, Safari, Opera  */
    transform: rotateX(0deg);
    top: 0px;
}
.m-team-item.isVisible{
    -webkit-transform: rotateX(0deg); /* Chrome, Safari, Opera  */
    transform: rotateX(0deg);
    top: 0px;
}
footer.isVisible{
    bottom: 0px;
}

@media (min-width: 1025px) and (orientation: landscape) {
    header.isVisible{
        height: 100px;
    }
}